.app  {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

.dashBoard {
  margin-top: 20px;
  /* margin-bottom: 20px; */
  text-align: center;
}

hr {
  margin-bottom: 40px;
}

.error {
  margin-top: 30px;
  text-align: center;
}


.component {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
  /* margin-top: 30px; */
  margin-bottom: 30px;
  
}
.pie {
  display: flex;
  justify-content: center;
}


.content {
  margin-top: 30px; 
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 610px );
  justify-content: space-around;
  flex-flow: wrap;
}

.about {
  text-align: center;
  margin-top: 50px;
}

.about > h3, h4 {
  margin-top: 30px;
} 

.about > ul {
  margin-top: 20px;
}

.about > ul > li {
  margin-top: 6px;
}